<div class="d-flex justify-content-center text-white bg-dark pt-4">
  <footer style="width: 50%">
    <div class="d-flex justify-content-evenly container">
      <a href="#" class="link-dark"><i class="bi bi-instagram"></i></a><a href="#" class="link-dark"><i
          class="bi bi-twitter"></i></a><a href="#" class="link-dark"><i class="bi bi-facebook"></i></a>
    </div>
    <ul class="foot text-center container">
      <li><a href="#" class="link-light">Services</a></li>
      <li><a href="#" class="link-light">Home</a></li>
      <li><a href="#" class="link-light">About</a></li>
      <li><a href="#" class="link-light">Terms</a></li>
      <li><a href="#" class="link-light">Privacy Policy</a></li>
    </ul>
    <p class="d-flex justify-content-center">ProSale Manager © 2024</p>
  </footer>
</div>