<ion-content [fullscreen]="true">
  <div id="carouselExampleCaptions" class="carousel carousel-dark slide">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active btn-dark"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="https://img.freepik.com/fotos-gratis/retrato-de-uma-linda-morena-alegre-olhando-para-a-esquerda-sorrindo-animada-e-surpresa-sobre-o-branco_1258-118832.jpg?t=st=1716224466~exp=1716228066~hmac=c18aca554410895971d18d20c87cfd1cb4b637cbebbe0252d9999e44914e9b4d&w=996"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-start">
          <h5 class="fs-2 fw-bold">Bienvenido a ProSale Manager</h5>
          <p class="fw-bold fs-5">Control preciso, inventario en equilibrio.</p>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://img.freepik.com/fotos-gratis/linda-garota-animada-e-surpresa-mostrando-cartao-de-credito-e-aplicativo-bancario-de-celular-na-tela_1258-122634.jpg?t=st=1716224373~exp=1716227973~hmac=c1df992be8de1bd308db791c007607a4d5aa4ffe7c9193cc711af5537f9da4d5&w=996"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="fs-2 fw-bold">Facil acceso a su inventario</h5>
          <p class="fw-bold fs-5">En todo momento</p>
        </div>
      </div>

      <div class="carousel-item">
        <img
          src="https://img.freepik.com/fotos-gratis/retrato-da-cintura-amigavel-estudante-ruiva-feliz-navegando-em-lojas-online-segurando-tablet-digital_1258-144400.jpg?t=st=1716224709~exp=1716228309~hmac=c516939c6b06b7e04886345bf83ea716cc88d1ecea8cb8c3083d002394e85f98&w=996"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block text-end">
          <h5 class="fs-2 fw-bold">Control de usuarios</h5>
          <p class="fw-bold fs-5">En cualquier lugar</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Anterior</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Siguiente</span>
    </button>
  </div>


  <br />

  <br>
  <div class="d-flex mb-5 mt-5 container text-center flex-column">
    <div class="d-flex fs-3 fw-bold justify-content-center align-items-center">
      <p class="text-uppercase">Integrantes</p>
    </div>

    <ion-row class="row-cols-1 row-cols-md-3 g-4 justify-content-evenly mb-3 mt-5">
      <ion-col>
        <ion-card class="h-100 border border-bottom p-5 rounded-4 divClass sombra">
          <img src="../../../assets/Images/Imagen de WhatsApp 2024-05-27 a las 23.40.36_c93efbab.jpg"
            class="card-img-top rounded-circle mx-auto border border-3" alt="...">
          <ion-card-content class="text-dark">
            <ion-card-title class="fs-3 fw-bold">Juan Bobadilla</ion-card-title>
            <ion-card-subtitle class="card-text fs-4">Un entusiasta por el desarrollo Front-End pero eso no evita que
              tenga conocimientos en Back-End</ion-card-subtitle>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Conóceme
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">LinkedIn</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">GitHub</button>
                </li>
              </ul>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="h-100 border border-bottom p-5 rounded-4 divClass sombra">
          <img src="../../../assets/Images/Imagen de WhatsApp 2024-05-27 a las 23.40.36_e247c914.jpg"
            class="card-img-top rounded-circle mx-auto" alt="...">
          <ion-card-content class="text-dark">
            <ion-card-title class="fs-2 fw-bold">Julian Marin</ion-card-title>
            <ion-card-subtitle class="card-text fs-4">Otro chico mas en el mundo de la programación enamorado del
              Front-End pero sabiendo Back-End.</ion-card-subtitle>
            <div class="dropdown">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                Conóceme
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">LinkedIn</button>
                </li>
                <li>
                  <button class="dropdown-item" type="button">GitHub</button>
                </li>
              </ul>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </div>
  <div class="d-flex mb-5 mt-5 container text-center flex-column">
    <ion-card class="mb-5 mt-5 w-full container divClass p-5 rounded-4 sombra">
      <ion-grid class="g-0 align-items-center rounded-3 text-dark">
        <ion-row>
          <div class="col-md-4 p-2">
            <img src="https://5.imimg.com/data5/QJ/WX/MY-35555363/3d-nature-wallpaper-1000x1000.jpg"
              class="img-fluid rounded-4" alt="...">
          </div>
          <ion-col size-md="8">
            <ion-card-content>
              <ion-card-title class="fs-1 fw-bold">ProSale Manager</ion-card-title>
              <ion-card-subtitle class="card-text fs-4 text-justify">
                Ayudamos a las empresas a gestionar procesos relacionados con ventas, inventarios y clientes.
                Facilitamos
                la automatización de tareas y proporcionamos datos mejorando la toma de decisiones.
              </ion-card-subtitle>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="mb-5 mt-5 w-full container divClass rounded-4 p-5 sombra">
      <ion-grid class="g-0 align-items-center text-dark">
        <ion-row>
          <ion-col size-md="8">
            <ion-card-content>
              <ion-card-title class="fs-1 fw-bold">Control de Inventario</ion-card-title>
              <ion-card-subtitle class="card-text fs-4 text-justify">
                El sistema permite rastrear y gestionar inventarios. Los usuarios pueden controlar el stock, registrar
                movimientos de productos y recibir alertas por niveles bajos de inventario, ayudando a prevenir
                faltantes
                y exceso de stock.
              </ion-card-subtitle>
            </ion-card-content>
          </ion-col>
          <div class="col-md-4 p-2">
            <img
              src="https://img.freepik.com/foto-gratis/empleados-entrega-trabajando-juntos_23-2148890045.jpg?t=st=1716312169~exp=1716315769~hmac=f284650e81c2276d2e3450d8e285d7443499ba36eeb854fae8109da07c4af053&w=740"
              class="img-fluid rounded-4" alt="...">
          </div>
        </ion-row>
      </ion-grid>
    </ion-card>

    <ion-card class="mb-5 mt-5 w-full container divClass rounded-4 p-5 sombra">
      <ion-grid class="g-0 align-items-center text-dark">
        <ion-row>
          <div class="col-md-4 p-2">
            <img
              src="https://img.freepik.com/foto-gratis/profesor-tiro-medio-pie-sosteniendo-tableta_23-2148618699.jpg?t=st=1716313516~exp=1716317116~hmac=12a515b4b07694d335458407bd41e76d531eb0d3796975730ca5ae7b531d24c7&w=740"
              class="img-fluid rounded-4" alt="...">
          </div>
          <ion-col size-md="8">
            <ion-card-content>
              <ion-card-title class="fs-1 fw-bold">Control de Usuarios</ion-card-title>
              <ion-card-subtitle class="card-text fs-4 text-justify">
                El software ofrece herramientas para gestionar usuarios y permisos. Con roles personalizados, se puede
                controlar quién tiene acceso a diferentes partes del sistema, garantizando seguridad y protegiendo datos
                sensibles.
              </ion-card-subtitle>
            </ion-card-content>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>

</ion-content>
